
{% extends "base.html" %}

{% block content %}

<h1>Help</h1>
<p>General Instructions and Link to User Guide</p>

<h4>Initial Setup</h4>
<p>When the project is initially opened, there will be no database with which to run queries on. </p>
<p>To rectify this, click on the Upload tab to submit a .csv file with which to populate the database <p>

<h4>Running Queries</h4>
<p>Once the system has a database, navigate to the Search tab and enter your queries in the provided bar</p>
<p>To get a better idea of what queries you can run, consider the Data Breakdown section of the Search page or click on the Current Data tab</p>

<h4>More information</h4>
<p>Please read through the full user manual here: <a href="../open">User Manual pdf</a><p>

{% endblock %}